name: CI
on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  qa:
    runs-on: ubuntu-latest
    env:
      UV_PYTHON: "3.13"
    steps:
      - uses: actions/checkout@v4
      - uses: astral-sh/setup-uv@v7

      - name: Ruff check
        run: uv run ruff check --output-format=github

      - name: Ruff format
        run: uv run ruff format --check

      - name: Ty check
        run: uv run ty check --output-format=github

  test:
    needs: qa
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13", "3.14"]

    steps:
      - uses: actions/checkout@v4
      - uses: astral-sh/setup-uv@v7
      - name: Run pytest
        run: uv run -p ${{ matrix.python-version }} pytest
